<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Section Project</title>
    <link rel="stylesheet" href="meet-the-team.component.css">
</head>

<h2 class="meet-the-team-heading">MEET THE TEAM</h2>

<body> 
 <div class="main">
   <div class="profile-card">
     <div class="img">
      <img src="./assets/osman_pic1.jpg">
     </div>
     <div class="caption">
       <h2>Omar Osman</h2>
       <p class="title">Website General Manager.</p>
       <p>Full Stack Developer.</p>
       <p>omarosman23@aucegypt.edu</p>
       <a href="mailto:omarosman23@aucegypt.edu"class="button">Contact</a>
      </div>
    </div>
   
    <div class="profile-card">
      <div class="img">
       <img src="./assets/diaa_pic.jpg">
      </div>
      <div class="caption">
        <h2>Omar  Diaa</h2>
        <p class="title">Tech Committee Chair.</p>
        <p>Full Stack Developer.</p>
        <p>omardiaa@aucegypt</p>
        <a href="../Game/game_index.html" class="button">Contact</a>
      </div>
     </div>

     <div class="profile-card">
      <div class="img">
       <img src="./assets/salma_pic.png">
      </div>
      <div class="caption">
        <h2>Salma Ahmed Aly</h2>
        <p class="title">SU Web Member.</p>
        <p>Full Stack Developer.</p>
        <p>itissalma@aucegypt</p>
        <a href="mailto:itissalma@aucegypt.edu" class="button">Contact</a>
      </div>
     </div>

 </div>

 <script src="./Font-Awesome/all.min.js"></script>
</body>

</html>